---
name: Terragrunt Plan Pipeline - Environment {{cookiecutter.default_environment_name}}
permissions:
    contents: read
    security-events: write
    id-token: write
    actions: write

on:
    pull_request:
        branches:
          - {{cookiecutter.apply_branch}}
        types: [opened, synchronize, reopened]

jobs:
    include:
        uses: ./.github/workflows/plan-workflow.yaml
        with:
            default_region: {{cookiecutter.default_region}}
            environment: {{cookiecutter.default_environment_name}}
        secrets:
            account_id: {% raw %}${{ secrets.AWS_ACCOUNT_ID_{% endraw %}{{cookiecutter.default_environment_name}}{% raw %} }}{% endraw %}
